*{
  margin: 0;
  padding: 0;
}
.contner{
  width:90%;
  background-color: #57606f;
  margin:auto;
  height:80vh;
  margin-top: 2em;
  border-radius: 10px;
}
h1{
  text-align: center;
  position: relative;
  top: 2em;
  color: #ffffff;
}
.upname{
  display: flex;
  justify-content: center;
  position: relative;
  top: 5em;
  margin-top:2em ;
}

#fname{
  width: 70%;
  height: 2em;
  font-size: 15px;
  border-style: none;
  outline: none;
  border-radius: 10px;
  background-color: #ced6e0;
}
#lname{
  width: 70%;
  height: 2em;
  font-size: 15px;
  border-style: none;
  outline: none;
  border-radius: 10px;
  background-color: #ced6e0;
}
#email{
  width: 70%;
  height: 2em;
  font-size: 15px;
  border-style: none;
  outline: none;
  border-radius: 10px;
  background-color: #ced6e0;
}
#pass{
   width: 70%;
  height: 2em;
  font-size: 15px;
  border-style: none;
  outline: none;
  border-radius: 10px;
  background-color: #ced6e0;
}
button{
  width:5em;
  height: 2em;
  position:relative;
  top: 7em;
  left: 13em;
  border: none;
  background-color:#70a1ff;
  border-radius: 5px;
  font-size: 15px;
}
p{
  position:relative;
  top: 8em;
  left: 1em;
  color:#a4b0be ;
}